$rojo: #b80c09;
$azul: #0b4f6c;
$cyan: #01baef;
$ghos: #fbfbff;
$rich: #040f16;
$light: 300;
$bold: 500;
$font: 'Oswald', sans-serif;

/* Generales */
body{
  background-color: $rich;
}

.pantalla {
  width: 100%;
  font-family: $font;
  font-weight: $light;
  background-color: $rich;
  color: $ghos;
}

.boton{
  background-color: $rojo;
  color: $ghos;
  text-transform: uppercase;
  &:hover{
    background-color: $cyan;
    color: $ghos;
  }
}
.sep{
  margin: 30px 0;
}
.titulo{
  text-transform: uppercase;
}
/* Navbar */
.navbar {
  background-color: transparent !important;
  border: none !important;
  li{
    a{
      color: $ghos !important;
      font-size: 2rem !important;
    }
    &:hover{
      background-color: $rojo;
    }
  }
}

/* Pantalla Inicio */
.uno {
  h1{
    margin-top: 20vh;
  }
}


/* Pantalla 2: Jugadores */
.placeh{
  ::-webkit-input-placeholder {
     color: $rojo;
  }

  :-moz-placeholder {
     color: $rojo;
  }

  ::-moz-placeholder {
     color: $rojo;
  }

  :-ms-input-placeholder {
     color: $rojo;
  }
}

.dos{
  margin-top: 20vh;
  input{
    width: 100%;
    color: $rich;
    margin-bottom: 5vh;
  }
  p{
    font-size: 2.5rem;
  }
  @extend .placeh;
}

/* Pantalla 3: gato */
.tablero{
  margin-bottom: 100px;
  .gato{
    text-align: center;
    &.lado{
      border-left: 4px solid $cyan;
      border-right: 4px solid $cyan;
    }
    &.bajo{
      border-bottom: 4px solid $cyan;
    }
  }
}
.tres{
  p{
    font-size: 2rem;
  }
  .resp{
    font-family: 'Arial' !important;
    font-size: 70px;
    color: $rojo;
    height: 80px;
    width: 100%;
  }
}

/* Pantalla 4: historial */
.historial {
  width: 100%;
  border: 2px solid $cyan;
  padding: 20px;
  margin-bottom: 20px;
  p{
    font-size: 2rem;
  }
}

/* Pantalla 5: comentarios */

.cajacomentarios{
 /* height: 30vh;
  overflow-y: scroll;*/
  margin-bottom: 30px;
  .comentario {
    @extend .historial;
    text-align: left;
  }
}
.formulario{
  @extend .placeh;
  input{
    display: block;
    width: 100%;
    color: $rich;
    margin-bottom: 10px;
  }
  textarea{
    @extend input;
    resize: none;
  }
}
.modal{
  color: $rich;
}